* {
    box-sizing: border-box;
}

html {
    font-size: 20px;
}

:root {
    --midnight: #040a2c;
    --warm-grey: #959595;
    --pumpkin-orange: #ff7f00;
    --white: #e3e3e3;
    --canva-height: 550px;
    --canva-width: 541px;
}

.main-layout {
    margin: auto 0;
    width: 100%;
}

input {
    cursor: pointer;
}

input :focus {
    outline: none;
}

select :focus {
    outline: none;
}

.Nav-bar-bg {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* height: 66px; */
    padding: 17px 57px 17px 49px;
    background-color: var(--pumpkin-orange)
}

.search-bar {
    display: block;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    padding: 20px;
    flex: wrap;
}

.search-item {
    justify-content: space-around;
    width: 260px;
    height: 30px;
    border-bottom: 1px solid var(--midnight);
}

.search-words {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.search-words>div {
    padding: 15px;
    cursor: pointer;
}

.search {
    border: none;
    font-family: inherit;
}

.glass {
    width: 20px;
    height: 20px;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Montserrat;
    height: 100%
    /* justify-content: stretch; */
}

header {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

footer {
    background-color: var(--pumpkin-orange);
    width: 100%;
    padding: 77px 497px 73px;
    display: flex;
    justify-content: center;
}

.center {
    justify-content: center;
}

.height {
    height: 0;
}

.canvas-container {
    width: 541px;
    height: var(--canva-height);
    margin: 0 99px 0 0;
    /* padding: 11px 25px 9px 26px; */
    background-color: #fff;
}

main {
    align-items: center;
    /* justify-content: center; */
    margin: auto 0;
    display: flex;
    /* align-items: center; */
    height: 100%;
    /* margin: 66px 0 0; */
    padding-bottom: 20px;
    background-color: var(--white);
}

canvas {
    display: block;
    border: 1px solid black;
    cursor: pointer;
    height: var(--canva-height);
}

.gallery {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto 0;
}

.grid>* {
    cursor: pointer;
}

.gallery-container {
    padding: 15px 15px 0 15px;
    position: relative;
    background-color: var(--white);
    /* top: 10px; */
    height: 600px;
}

.grid {
    display: grid;
    grid-template-rows: repeat(4, minmax(0, 180));
    grid-template-columns: repeat(6, 180px);
    gap: 8px;
    width: 100%;
    height: 100%;
    /* justify-content: center; */
    align-items: center;
    visibility: visible;
    background-color: var(--white);
}

.tohide {
    display: none;
}

.paint {
    visibility: 'hidden';
    /* position: absolute; */
}

.hide {
    position: absolute;
    z-index: 1;
    opacity: 0;
}

.grid>img {
    height: 180px;
    width: 180px;
    visibility: inherit;
    cursor: pointer;
}

.hamburger {
    visibility: hidden;
    height: 100%;
}

ul {
    list-style: none;
    display: inline-block;
    /* height: 100%; */
    text-transform: capitalize;
    font-family: Montserrat
}

li {
    display: inline-block;
    list-style-type: none;
    cursor: pointer;
    height: 100%;
}

li a {
    height: 100%;
}

li:nth-of-type(2) {
    border-left: 1.5px solid #8a8a8a;
    /* border-right: 1.5px solid #8a8a8a; */
    padding-left: 6px;
    padding-right: 6px;
}

li:hover {
    color: var(--midnight);
}

.menu {
    height: var(--canva-height);
}

input[type="color"] {
    width: 40px;
    height: 40px
}

footer>img {
    width: 50px;
    height: 50px;
}

.button-grid {
    height: var(--canva-height);
    display: grid;
    grid-template-rows: repeat(6, minmax(0, 0.25fr));
    grid-template-columns: repeat(5, 1fr);
    gap: 20px 20px;
    justify-content: center;
    /* visibility: visible; */
}

.button-grid>* {
    cursor: pointer;
}

/* Fonts */

@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-Regular.ttf);
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: Montserrat-Med;
    src: url(../fonts/Montserrat-Medium.ttf);
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
}

.Text-Style-3 {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: var(--midnight);
}

.Text-Style {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.Text-Style-4 {
    font-family: Montserrat;
    font-size: 19px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.Text-Style-2 {
    font-family: Montserrat;
    font-size: 19px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: var(--midnight);
}

/* Buttons */

form>div>img {
    height: 95%;
}

.add-line-btn {
    grid-column: 3/4;
    grid-row: 2/3;
    width: 60px;
    height: 60px;
    /* margin: 11px 18px 43px 19px; */
    padding: 11px 10px 10px;
    border-radius: 12px;
    background-color: #ffffff;
}

.trash-btn {
    grid-column: 4/5;
    grid-row: 2/3;
    width: 60px;
    height: 60px;
    /* margin: 11px 18px 43px; */
    padding: 11px 13px 10px 12px;
    border-radius: 12px;
    background-color: #ffffff;
}

.change-line-btn {
    grid-column: 2/3;
    grid-row: 2/3;
    width: 60px;
    height: 60px;
    /* margin: 11px 19px 43px 18px; */
    padding: 11px 10px 11px 11px;
    border-radius: 12px;
    background-color: #ffffff;
}

.align-right-btn {
    grid-column: 5/-1;
    grid-row: 4/5;
    width: 60px;
    height: 60px;
    /* margin: 43px 0 10px 18px; */
    padding: 11px 10px 11px 11px;
    border-radius: 12px;
    background-color: #ffffff;
}

.align-center-btn {
    grid-column: 4/5;
    grid-row: 4/5;
    width: 60px;
    height: 60px;
    /* margin: 43px 18px 10px; */
    padding: 11px 10px 11px 11px;
    border-radius: 12px;
    background-color: #ffffff;
}

.align-left-btn {
    grid-column: 3/4;
    grid-row: 4/5;
    width: 60px;
    height: 60px;
    /* margin: 43px 18px 10px 19px; */
    padding: 11px 10px 11px 11px;
    border-radius: 12px;
    background-color: #ffffff;
}

.decrease-font-btn {
    grid-column: 2/3;
    grid-row: 4/5;
    width: 60px;
    height: 60px;
    /* margin: 43px 19px 10px 18px; */
    padding: 14px 10px 9px 11px;
    border-radius: 12px;
    background-color: #ffffff;
}

.increase-font-btn {
    grid-column: 1/2;
    grid-row: 4/5;
    width: 60px;
    height: 60px;
    /* margin: 43px 18px 10px 100px; */
    padding: 14px 10px 9px 11px;
    border-radius: 12px;
    background-color: #ffffff;
}

.text-shadow-btn {
    grid-column: 4/5;
    grid-row: 5/6;
    width: 60px;
    height: 60px;
    /* margin: 10px 18px 30px; */
    padding: 11px 10px 11px 11px;
    border-radius: 12px;
    background-color: #ffffff;
}

.color-btn {
    grid-column: 5/-1;
    grid-row: 5/6;
    width: 60px;
    height: 60px;
    /* margin: 10px 0 30px 18px; */
    padding: 14px 9px 9px 12px;
    border-radius: 12px;
    background-color: #ffffff;
}

.font-input {
    grid-column: 1/4;
    grid-row: 5/6;
    width: 100%;
    height: 60px;
    /* margin: 10px 18px 30px 99px; */
    padding: 23px 13px 13px 22px;
    border-radius: 12px;
    background-color: #ffffff;
    font-family: Montserrat;
    border: none;
    font-size: 1rem;
    color: var(--midnight);
}

.font-input>option {
    font-family: Montserrat;
    border: none;
    font-size: 1rem-1;
    color: var(--midnight);
}

.Rounded-Rectangle-4 {
    grid-column: 1/-1;
    grid-row: 1/2;
    width: 100%;
    height: 100%;
    /* margin: 0 1px 11px 99px; */
    /* padding: 20px 75px 20px 21px; */
    border-radius: 12px;
    background-color: #ffffff;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    border: none;
}

.btn {
    display: flex;
    width: 100%;
    height: 100%;
    /* margin: 189px 75px 0 46px; */
    /* padding: 23px 9px 21px; */
    border-radius: 12px;
    background-color: var(--pumpkin-orange);
    font-size: 1rem-4;
    justify-content: center;
    align-items: center;
    color: var(--white);
}

.share {
    grid-row: 6/-1;
    grid-column: 1/3;
    font-family: Montserrat;
    border: 0;
    font-size: 1rem;
    text-decoration: none;
}

.share-container {
    grid-row: 3/4;
    grid-column: 2/4;
    font-family: Montserrat;
    border: 0;
    font-size: 1rem;
    text-decoration: none;
}

.save {
    grid-row: 6/-1;
    grid-column: 3/4;
}

.download {
    grid-row: 6/-1;
    grid-column: 4/-1;
    text-decoration: none;
}

/* help */

.flex {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

/* media */

@media (max-width: 1170px) {
    .main2 {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .menu {
        padding-top: 20px;
        margin-bottom: 20px;
    }
    footer {
        padding: 77px 200px 73px;
    }
    :root {
        --canva-width: var(--canva-height)
    }
    .gifpage {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .grid {
        grid-template-rows: repeat(auto-fill, 250px);
        grid-template-columns: repeat(4, 250px);
    }
    .grid>img {
        height: 250px;
        width: 250px;
        visibility: inherit;
    }
    .gallery-container {
        height: 100%;
    }
    .canvas-container {
        margin: 0px;
    }
    .search-bar {
        flex-direction: column;
        align-items: center;
        position: relative;
        top: 67px;
    }
}

@media (max-width: 1070px) {
    :root {
        --canva-width: var(--canva-height)
    }
    .gifpage {
        margin-top: 40px;
    }
    .Nav-bar-bg {
        position: fixed;
        top: 0;
        z-index: 2;
    }
    .visible {
        visibility: hidden;
        position: absolute;
    }
    .hamburger {
        visibility: visible;
        height: 100%;
        color: #ffffff;
        background-color: var(--pumpkin-orange);
        font-size: 2rem;
        cursor: pointer;
    }
    ul {
        position: fixed;
        z-index: 2;
        display: flex;
        flex-direction: column;
        top: 67px;
        right: 0;
        background-color: var(--pumpkin-orange);
        padding-top: 10px;
        padding-left: 0px;
        width: 400px;
        transform: translateY(0%);
        transition: transform .8s;
        /* height: 200px; */
    }
    li:nth-of-type(2) {
        border-top: 1.5px solid #8a8a8a;
        border-left: 0
        /* padding-left: 6px;
        padding-right: 6px; */
    }
    li {
        width: 100%;
        padding: 10px 0 10px;
        font-size: 2rem;
    }
    .search-words {
        align-items: center;
        justify-content: center;
    }
    .search-bar {
        flex-direction: column;
        align-items: center;
        /* position: sticky; */
    }
    .grid {
        grid-template-rows: repeat(auto-fill, 250px);
        grid-template-columns: repeat(2, 250px);
    }
    .grid-container {
        position: relative
    }
    main {
        padding-top: 70px;
    }
}

@media (max-width: 770px) {
    .grid {
        grid-template-rows: repeat(auto-fill, 400px);
        grid-template-columns: repeat(1, 400px);
    }
    .gifpage {
        margin-top: 40px;
    }
    .grid>img {
        height: 400px;
        width: 400px;
        visibility: inherit;
    }
}

@media (max-width: 600px) {
    .grid {
        grid-template-rows: repeat(auto-fill, 250px);
        grid-template-columns: repeat(1, 250px);
    }
    .grid>img {
        height: 250px;
        width: 250px;
        visibility: inherit;
    }
    .canvas-container {
        width: 330px;
        height: 330px;
    }
    .canva {
        width: 330px;
        height: 330px;
    }
}